@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Playfair+Display+SC:wght@400;900&family=Playfair+Display:wght@400;600&display=swap');

body {
    background-image: url("images/background.png");    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 100px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    margin: -10px;
}

.subtext {
    font-size: 20px;
    font-family: 'Caudex', serif;
}

.search{
    font-family: 'Caudex', serif;
}

.buttons {
    font-size: 16px;
    border: none;
    border-radius: 20px;
    font-family: 'Caudex', serif;
    background-color: white;
}

main {
    width: 90%;
    text-align: left;
    padding-left: 15px;
    gap: 10px;
    display: flex;
    align-items: center;
    top: 25%;
    position: absolute;
    flex-direction: column
}

.buttons:hover{
    color: rgb(250, 177, 189);
}