<!DOCTYPE html>

<html>
  <head>
    <title>Table Talk</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/favorites.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="tabletalk">Table Talk</div>
      <div class="navlinks">
        <a href="http://127.0.0.1:5000/"
          ><button class="navbuttons">Home</button></a
        >
      </div>
    </nav>
    <div class="line"><hr /></div>
    <main>
      <div class="favorites">Favorites</div>

      <ul>
        {%for x in favorites or []%}
        <li>{{names[x]}}</li>
        <p>{{reviews[x]}}</p>
        <form action="http://127.0.0.1:5000/reviewed/" method="GET">
          <input type="text" id="review" name="review" value="" />
          <input type="hidden" name="restname" value="{{x}}" />
          <br />
          <button type="submit" id="button" class="favbutton">
            Add Review
          </button>
          <br />
        </form>
        <br />
        {% endfor %}
      </ul>

      <br />
    </main>
  </body>
  <footer>
    <a href="http://127.0.0.1:5000/"
      ><button class="buttons">Back to Search</button></a>
  </footer>
</html>
