@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Playfair+Display+SC:wght@400;900&family=Playfair+Display:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.favorites {
  font-size: 70px;
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  align-items: center;
}

main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Caudex", serif;
  flex: 1;
}

nav {
  padding: 15px;
}

.tabletalk {
  float: left;
  font-size: 20px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
}

.buttons {
  font-size: 24px;
  border: none;
  border-radius: 20px;
  font-family: "Caudex", serif;
  background-color: white;
  margin-bottom: 120px;
}

footer {
  text-align: center;
}

.buttons:hover {
  color: rgb(55, 115, 52);
}

.favbutton {
  font-size: 18px;
  border: none;
  border-radius: 20px;
  font-family: "Caudex", serif;
  background-color: white;
}

.favbutton:hover {
  color: rgb(55, 115, 52);
}

.navbuttons {
  font-size: 16px;
  text-align: right;
  border: none;
  border-radius: 20px;
  font-family: "Caudex", serif;
  background-color: white;
}

.navlinks {
  float: right;
}

.navbuttons:hover {
  color: rgb(55, 115, 52);
}

.line {
  padding: 15px;
}

li {
  font-size: 25px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  align-items: left;
}

ul {
  list-style-type: none;
  text-align: left;
  list-style-position: inside;
  padding-left: 100px;
  padding-top: 50px;
}

input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}