@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Playfair+Display+SC:wght@400;900&family=Playfair+Display:wght@400;600&display=swap");

.thanks {
  font-size: 40px;
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
  align-items: center;
}

.subtext {
  font-size: 20px;
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
  align-items: center;
}

main {
  width: 100%;
  text-align: center;
  display: flex;
  position: absolute;
  flex-direction: column;
  font-family: "Caudex", serif;
}

nav {
  padding: 15px;
}

.tabletalk {
  float: left;
  font-size: 20px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
}

.buttons {
  font-size: 24px;
  border: none;
  border-radius: 20px;
  font-family: "Caudex", serif;
  background-color: white;

  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttons.fav {
  bottom: 100px;
}

.buttons:hover {
  color: rgb(55, 115, 52);
}

.favbutton {
  font-size: 25px;
  border: none;
  border-radius: 20px;
  font-family: "Caudex", serif;
  background-color: white;
}

.favbutton:hover {
  color: rgb(55, 115, 52);
}

.navbuttons {
  font-size: 16px;
  text-align: right;
  border: none;
  border-radius: 20px;
  font-family: "Caudex", serif;
  background-color: white;
}

.navlinks {
  float: right;
}

.navbuttons:hover {
  color: rgb(55, 115, 52);
}

.line {
  padding: 15px;
}

input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
